/* Base Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Segoe UI', sans-serif; color: #222; background: #f9f9f9; }

/* Top Header */
.top-bar {
    background-color: brown;
    color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-links {
  margin-left: auto; /* push to right */
  display: flex;
  gap: 10px;
}

.btn-link {
    background-color: brown;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.85em;
  transition: background 0.3s;
}

.btn-link:hover {
  background: #cf711f;
}



/* Header */
.main-header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}
#jims {
  font-size: 1.8em;
  font-weight: bold;
  color: #002147;
  height: 60px;
  width: 120px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2em;
}
.nav-links li a {
  color: #002147;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-links li a:hover {
  color: #e67e22;
}
.main-nav {
  background: #e6f0f1;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 12px;
}
.main-nav a {
  color: rgb(8, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

/* Hero */
.hero-carousel {
  position: relative;
}
.hero-carousel img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
  color:black;
}
.hero-text h1 {
  font-size: 3rem;
}
.hero-text p {
  margin: 2em 0;
}
.btn {
  background: black;
  color: white;
  padding: 0.8em 1.2em;
  border-radius: 3px;
  text-decoration: none;
}

/* Info Boxes */
.info-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1em;
  margin: 2em auto;
}
.info-box {
  background: #002147;
  color: white;
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  font-weight: bold;
}

/* News */
.news-section {
  background: white;
  padding: 2em;
  margin: 2em auto;
}
.news-section ul {
  list-style: none;
  padding-top: 1em;
}
.news-section li {
  margin-bottom: 0.6em;
}

/* Recruiters */
.recruiters {
  background: #ecf0f1;
  padding: 2em 0;
  text-align: center;
}
.recruiter-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}
.recruiter-logos .logo {
  background: white;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  background: #002147;
  color: white;
  text-align: center;
  padding: 1em 0;
}
